nav {
    background-color: transparent !important;
}

.navbar-brand {
    color: #0b3c5d !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #0056b3 !important;
}

body{
    background-color: rgba(10, 150, 244, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}